@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.contenedor {
    height: 100vh;
}

input[type="password"] {
    padding-right: 2.5rem; /* Ajusta el espacio a la derecha para el icono de visualización de contraseña */
}

input[type="password"].reveal-password {
    -webkit-text-security: none; /* Muestra el texto de la contraseña */
    text-security: none;
}

table.dataTable thead tr {
    text-align: center;
}

table.dataTable tbody tr {
    text-align: center;
}

.movie-info-container {
    display: flex;
    align-items: center;
    justify-content: space-between; /* Para alinear el texto y la imagen a los extremos */
    cursor: pointer;
    padding: 5px 10px; /* Añadir un poco de espacio interno */
    border-bottom: 1px solid #ddd; /* Línea divisoria entre elementos */
}

.movie-title {
    flex: 1; /* Ocupa todo el espacio disponible */
    margin-right: 10px; /* Espacio entre el título y la imagen */
}

.movie-poster {
    width: 30px;
    height: auto;
    border-radius: 4px;
}

#search_results {
    max-height: 200px; /* Altura máxima para la lista */
    overflow-y: auto; /* Habilitar scroll vertical si la lista es demasiado larga */
}

.serie-poster {
    margin-top: 5px;
    width: 40px; /* Puedes ajustar el tamaño aquí */
    height: auto;
    margin-left: 8px; /* Ajusta según tus necesidades */
    border-radius: 20%;
}
